.home {

  #content {
    margin-top: 1.5em; // 2.5
  }

  #inner-content {
    margin-bottom: 3em;
  }

  #main {
    background-color: $white;
    box-shadow: 0px 0px 14px 4px #e0e0e0;
    padding: 1.5em;

    .entry-content {
      > .vc_row {
        > .wpb_column {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}

.two-column-text {
  .vc_col-sm-6 {
    width: 50%;
    float: left;
  }
}

/* frontpage top banner */
.frontpage-top-banner {
  position: relative;
  .logo {
    display: inline-block;
    position: absolute;
    z-index: 10001;    
    width: 18.5em;
    right: 0;
    left: 0;
    top: 1.4em;
    margin: auto;
    font-size: .8em;
    outline: none;

    &:before {
      font-size: 2.5em;
      height: 140%;
      bottom: -2.2em;      
    }

    img {
      display: block;
    }
  }
}

/* Instagram */
.techinstagramlink-content {
  .instagram-unit-col2 {
    width: 48%;
    padding: 1% !important;
    img {
      width: 100%;
      border: 1px solid #646464;
    }
  }

  .loadbutton {
    display: none;
  }
}

/* GCCS Social section */
.section-gccs-social {
  margin-bottom: 0;
  .container {
    padding-bottom: 0;
  }
}

/* GCCS Club Membership */
.section-club-membership {
  .column-join-club {
    margin-bottom: 1.5em;
  }
  .submit-wrap {
    text-align: left;
    .col-sm-6 {
      margin-bottom: 1rem;
    }
    .ajax-loader {
      float: right;
    }
  }
}

.wpcf7-form {
  li {
    border-bottom: 1px solid #c8c8c8;
    list-style: none;
    padding:  .7em 0;
  }
  label {
    display: inline-block;
    min-width: 8.5em;
    float: left;
    color: #646464;
  }
  .wpcf7-form-control-wrap {
    overflow: auto;
    display: block;
  }
  input[type="text"],
  input[type="tel"],
  input[type="email"] {
    display: inline-block;
    min-width: 0;
    background: transparent;
    line-height: inherit;
    padding: 0;
    margin: 0;
  }
  textarea {
    background: transparent;
    padding: 1em 0;
  }

  textarea,
  input {
    &::-webkit-input-placeholder {
       color: #e0e0e0;
    }

    &:-moz-placeholder { /* Firefox 18- */
       color: #e0e0e0;  
    }

    &::-moz-placeholder {  /* Firefox 19+ */
       color: #e0e0e0;  
    }

    &:-ms-input-placeholder {  
       color: #e0e0e0;  
    }    
  }

  .wpcf7-submit {
    font-family: $ridelife;
    border: 1px solid #cecece;
    background: transparent;
    color: $blue;
    padding: 1em 2em;
    font-size: 1.3em;
    letter-spacing: .7px;
  }

  .subscribe {
    font-size: .85em;
    color: inherit;
    display: inline;
  }
  .link-newsletter {
    text-decoration: none;
    font-size: .85em;
    font-weight: 500;
    vertical-align: top;
  }

  .ajax-loader {
    float: left;
  }
}


/* Club Kit */
.section-club-kit {
  .container {
    position: relative;
  }
  .cta-badge {
    display: none;
  }
}

.cta-badge-wrap {
  position: static;
}
.cta-badge {
  position: absolute;
  top: 1em;
  right: 1.5em;
  text-align: center;
  z-index: 1;
  font-size: 1.1em;
  &:before {
    height: 133%;
    bottom: -3em;
    top: -1em;
  }
  .badge-content {
    font-size: 1.6em;
    line-height: 1.1;
    background: #363437;
    color: $white;
    padding: .7em 1em;
    font-family: $ridelife;
    width: 5.5em;
  }
}

/* Products */
.product-list {
  text-align: center;
  margin: 0 -.5em;
  .item {
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 0 .5em;
    .item-link {
      box-shadow: 0px 0px 10px 0px #ccc;
      margin: .5em 0;
      padding: .5em;
      display: block;
      text-decoration: none;
    }
    .featured-image {

    }
    .item-title {
      font-size: 1.2em;
      display: block;
      font-weight: 500;
      margin-bottom: 0;
    }

    .link-edit {
      position: absolute;
      right: 0;
      bottom: 2em;
    }
  }
}

.link-edit {
  background: orange;
  color: $white;
  display: inline-block;
  padding: .3em 1em;
}

.type-product {
  padding: 2em 1em;
  .images-list-wrap {
    margin-bottom: 3rem;
  }
  .images-list {
    margin: 0;
  }
  
  .product-info {
    margin-bottom: 1em;
  }

  .product-title {
    font-family: $ridelife;
    color: $blue;
  }
  .product-price {
    font-size: $kilo;
    color: $blue;
  }

  .entry-content {
  }
}
