/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.frontpage-top-banner {
  .logo {
    font-size: 1.5em;
  }
}

#header {
  .search-form {
    .search-field {
      width: 9em;
    }
  }
}

.top-nav {
  .menu-item {
    a {
      padding: .6em .5em .4em .5em;
      font-size: 21px;
    }
  }
} 
